<section class="form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="6px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <mat-label>Enter your Username:</mat-label>
            <input type="text" matInput required ngModel name="username">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter your password:</mat-label>
            <input type="password" matInput required ngModel name="password" minlength="8" #pwLen="ngModel">
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="f.invalid" type="submit">Login</button>
    </form>
</section>