mat-sidenav-container, mat-sidenav, mat-sidenav-content {
    min-height: 100vh;
    display: inline;
  }
  
  mat-sidenav {
    width: 30vw !important;
  }
  
  a {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: large;
  }
  
  a:hover, a:active {
    color: gray;
  }
  
  .navigation-items {
    list-style: none;
  }
  