<mat-nav-list (goToView)="onSidenavToggle('v')">
    <a mat-list-item (click)="onSidenavToggle('s')" routerLink="/signup" id='s'>Sign Up For New Account</a>
    <a mat-list-item (click)="onSidenavToggle('li')" routerLink="/" id='li'>Log In With Existing Account</a>
    <a mat-list-item (click)="onSidenavToggle('c')" routerLink="/create" id='c'>Create A New Post</a>
    <a mat-list-item (click)="onSidenavToggle('v')" routerLink="/view" id='v'>View Posts</a>
    <a mat-list-item (click)="onSidenavToggle('lo')" routerLink="/" id='lo'>Logout</a>
</mat-nav-list>