<mat-nav-list>
    <a mat-list-item (click)="onSidenavToggle()" routerLink="/signup" id='s'>Sign Up For New Account</a>
    <a mat-list-item (click)="onSidenavToggle()" routerLink="/" id='li'>Log In With Existing Account</a>
    <a mat-list-item (click)="onSidenavToggle()" routerLink="/create" id='c'>Create A New Post</a>
    <a mat-list-item (click)="onSidenavToggle()" routerLink="/view" id='v'>View Posts</a>
    <a mat-list-item (click)="onSidenavToggle()" routerLink="/" id='lo'>Logout</a>
</mat-nav-list>