mat-card    {
    width: 80vw;
    margin: 20px;
}

.active {
    fill: #673ab7 !important;
    background-color: #673ab7 !important;
}

.upVote {
    background-color: #B39CDB !important;
}

.downVote   {
    background-color: #ffd740 !important;
}