mat-card    {
    width: 80vw;
    margin: 20px;
}

.upVote {
    display: inline-block;
    background-color: #B39CDB;
    border-radius: 20px;
}

.downVote   {
    display: inline-block;
    background-color: #ffd740;
    border-radius: 20px;
}